DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=api.bricoleup.fr,bricoleup.com,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://api.bricoleup.fr,https://bricoleup.com,http://localhost:4200
CORS_ALLOW_ALL_ORIGINS=False

AWS_RDS_ENGINE=django.db.backends.postgresql
AWS_RDS_HOST=your-rds-endpoint.eu-west-3.rds.amazonaws.com
AWS_RDS_PORT=5432
AWS_RDS_NAME=bricoleup
AWS_RDS_USER=bricoleup_user
AWS_RDS_PASSWORD=change-me
AWS_RDS_SSLMODE=require

AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me
AWS_STORAGE_BUCKET_NAME=bricoleup
AWS_S3_REGION_NAME=eu-west-3
